<div class="row">
  <div class="col s12">
    <h3 class="center-align"> Students Directory </h3>
  </div>
</div>

<div class="row">
  <% @students.each do |student| %>
    <div class="col s12 m6">
      <div class="card red lighten-3">
        <div class="card-content white-text">
          <span class="card-title">Name: <%= student.name %></span>
          <p>Email: <%= student.email %></p>
          <p>Course Enrollments: none</p>
        </div>
        <div class="card-action">
          <%= link_to "View_profile", student_path(student) %>
        </div>
      </div>
    </div>
  <% end %>
</div>

