<div class="row signup-form">
  <div class="col s12 m6">
    <div class="card red lighten-3">
      <div class="card-content white-text">
        <span class="card-title">Name: <%= @student.name %></span>
        <p>Email: <%= @student.email %></p>
        <p>Course Enrollments: 
          <% if @student.courses.empty? %> 
           None
          <% else %>
            <ul>
              <% @student.courses.each do |course| %>
                <li><%=course.name %>
              <% end %>
            </ul>
          <% end %>
        </p>
      </div>
    </div>
    <% if current_user == @student %>
     <%= link_to '<i class="material-icons right">create</i>Edit your profile'.html_safe, edit_student_path(@student), class:"waves-effect waves-light btn" %>
    <% end %>
  </div>
</div>