<% if obj.errors.any? %>
  <div class="container">
    <div class="row signup-form">
      <div class="col s12 m12 l12">
        <div class="card-panel red lighten-2">
          <span class="white-text">
            <strong><%= pluralize(obj.errors.count, "error") %></strong>
            prohibited your profile from being created
            <ul>
              <% @student.errors.full_messages.each do |message| %>
                <li><%= message %>
              <% end %>
            </ul>
          </span>
        </div>
      </div>
    </div>
  </div>
<% end %>