<div class="row">
  <div class="col s12">
    <h3 class="center-align"> Course listing </h3>
  </div>
</div>

<div class="row">
  <% @courses.each do |course| %>
    <div class="col s12 m6">
      <div class="card blue-grey lighten-1">
        <div class="card-content white-text">
          <span class="card-title"><%= course.short_name %>: <%= course.name %></span>
          <p><%= course.description %></p>
        </div>
        <div class="card-action">
          <% if logged_in? && !(current_user.courses.include?(course)) %>
            <%= link_to "Enroll", course_enroll_path(course_id: course.id), method: :post %>
          <% end %>
          <a href="#">Info</a>
        </div>
      </div>
    </div>
  <% end %>
</div>





