@import "materialize";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
flex: 1 0 auto;
}
      
// a{
//     color: black !important;
// }

.signup-form{
    padding-top: 30px;
}
.dark{
    color:#e53935  !important;
}